.mainContainer {
  height: 100%;
  display: flex;
}

.cardContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}

.or {
  text-align: center;
}

.uploadInput::placeholder {
  padding-left: 20px; 
  margin-left: 10px;
}

.uploadInput::-ms-input-placeholder{
      padding-left: 20px; 
  margin-left: 10px;
}
