/* Widget.module.css */
.table {
  width: 100%;
  background-color: white; /* bg-white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  border-radius: 0.5rem; /* rounded-lg */
  overflow: hidden;
}

.table.dark {
  background-color: #27272a; /* dark:bg-zinc-800 */
}

.headerCell {
  padding: 0.5rem 1rem; /* py-2 px-4 */
  background-color: #f3f4f6; /* bg-zinc-100 */
  color: #4b5563; /* text-zinc-600 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 600; /* font-semibold */
}

.headerCell.dark {
  background-color: #374151; /* dark:bg-zinc-700 */
  color: #d1d5db; /* dark:text-zinc-200 */
}

.rowCell {
  padding: 0.5rem 1rem; /* py-2 px-4 */
  color: #4b5563; /* text-zinc-700 */
  font-size: 0.875rem; /* text-sm */
}

.rowCell.dark {
  color: #d1d5db; /* dark:text-zinc-300 */
}

.rowCellButton {
  margin-right: 0.5rem; /* mr-2 */
  color: #3b82f6; /* text-blue-500 */
}

.rowCellButton:hover {
  text-decoration: underline; /* hover:underline */
}

.deleteButton {
  color: #ef4444; /* text-red-500 */
}

.deleteButton:hover {
  text-decoration: underline; /* hover:underline */
}
